<html>

<head>
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/creative.css" type="text/css" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="An Online Cookbook">
  <meta name="author" content="Cian O' Gralaigh">

  <title>Digital Cookbook</title>
</head>

<body>
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h1 class="text-uppercase">
            <strong>Digital Cookbook</strong>
          </h1>
         
        </div>
        <div class="col-lg-8 mx-auto">
          <p class=" mb-5">A digital cookbook for the digital age.</p>
           <hr class="light">

        </div>
        <div class="col-12">
          <form class="needs-validation" method="POST">
            {{ form.csrf_token }}
            <div class="form-row">
              {{ form.username(class_="form-control",placeholder="Please enter your username", type="text", autocomplete="off") }} 
              {% for message in form.username.errors %}
              <div class="invalid"> {{ message }}</div>
              {% endfor %}
            </div>
            <br>
            <button class="btn btn-success btn-xl js-scroll-trigger" type=submit>Enter</button>
          </form>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Bootstrap JavaScript -->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/js/jquery.easing.js"></script>
  <script src="/static/js/scrollreveal.js"></script>
  <script src="/static/js/jquery.magnific-popup.js"></script>

</body>

</html>
