{% extends "base.html"%} {% block content %}

<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="text-uppercase">
              <strong>Digital Cookbook</strong>
            </h1>
            <hr class="light" >
          </div>
          <div class="col-lg-8 mx-auto">
            <p class=" mb-5">A digital cookbook for the digital age.</p>
            <a class="btn btn-success btn-xl js-scroll-trigger" href="/recipes?limit=10&offset=0">View Recipes</a>
          </div>
        </div>
      </div>
    </header>

{% endblock %}
