{% extends "base.html"%} {% block content %}

<div class="container-full-bg">
    <div class="jumbotron ">
        <div class="container">
            <div class="row recipe-page">
                <div class="col-lg-12 ">
                    <h1 class="text-uppercase">
                        <strong>
                            No Results Found 
                            (0 Results Found)</strong>
                    </h1>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/static/js/jquery.js"></script>

{% endblock %}
