{% extends "base.html"%} {% block content %}

<div class="container-full-bg">
    <div class="jumbotron ">
        <div class="container">
            <div class="row recipe-page">
                <div class="col-lg-12 ">
                    <h1 class="text-uppercase">
                        <strong>Recipes</strong>
                    </h1>
                </div>
            </div>
            <table class="table  table-responsive" id='sortDefault'>
                <thead>
                    <tr>
                        <th class="sortButton" onclick="sort_by_name()">Name <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_upvotes()">Upvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_downvotes()">Downvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_country()">Country of Origin <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_author()">Author <i class="fa fa-sort"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in default %}
                    <tr>
                        <td>{{recipe.name.title()}}</td>
                        <td>{{recipe.upvotes}}</td>
                        <td>{{recipe.downvotes}}</td>
                        <td>{{recipe.country}}</td>
                        <td>{{recipe.author}}</td>
                        <td><a class="btn btn-success" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"> View Recipe</a>
                        </td>
                        <td><a class="btn btn-info" href=""> Edit Recipe</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table  table-responsive" id='sortAuthor'>
                <thead>
                    <tr>
                        <th class="sortButton" onclick="sort_by_name()">Name <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_upvotes()">Upvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_downvotes()">Downvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_country()">Country of Origin <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_author()">Author <i class="fa fa-sort"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for recipe in author %}
                    <tr>
                        <td>{{recipe.name.title()}}</td>
                        <td>{{recipe.upvotes}}</td>
                        <td>{{recipe.downvotes}}</td>
                        <td>{{recipe.country}}</td>
                        <td>{{recipe.author}}</td>
                        <td><a class="btn btn-success" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"> View Recipe</a>
                        </td>
                        <td><a class="btn btn-info" href=""> Edit Recipe</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table  table-responsive" id='sortName'>
                <thead>
                    <tr>
                        <th class="sortButton" onclick="sort_by_name()">Name <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_upvotes()">Upvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_downvotes()">Downvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_country()">Country of Origin <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_author()">Author <i class="fa fa-sort"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for recipe in name %}
                    <tr>
                        <td>{{recipe.name.title()}}</td>
                        <td>{{recipe.upvotes}}</td>
                        <td>{{recipe.downvotes}}</td>
                        <td>{{recipe.country}}</td>
                        <td>{{recipe.author}}</td>
                        <td><a class="btn btn-success" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"> View Recipe</a>
                        </td>
                        <td><a class="btn btn-info" href=""> Edit Recipe</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table  table-responsive" id='sortCountry'>
                <thead>
                    <tr>
                        <th class="sortButton" onclick="sort_by_name()">Name <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_upvotes()">Upvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_downvotes()">Downvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_country()">Country of Origin <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_author()">Author <i class="fa fa-sort"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in country %}
                    <tr>
                        <td>{{recipe.name.title()}}</td>
                        <td>{{recipe.upvotes}}</td>
                        <td>{{recipe.downvotes}}</td>
                        <td>{{recipe.country}}</td>
                        <td>{{recipe.author}}</td>
                        <td><a class="btn btn-success" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"> View Recipe</a>
                        </td>
                        <td><a class="btn btn-info" href=""> Edit Recipe</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table  table-responsive" id='sortUpvotes'>
                <thead>
                    <tr>
                        <th class="sortButton" onclick="sort_by_name()">Name <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_upvotes()">Upvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_downvotes()">Downvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_country()">Country of Origin <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_author()">Author <i class="fa fa-sort"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in upvotes %}
                    <tr>
                        <td>{{recipe.name.title()}}</td>
                        <td>{{recipe.upvotes}}</td>
                        <td>{{recipe.downvotes}}</td>
                        <td>{{recipe.country}}</td>
                        <td>{{recipe.author}}</td>
                        <td><a class="btn btn-success" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"> View Recipe</a>
                        </td>
                        <td><a class="btn btn-info" href=""> Edit Recipe</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table  table-responsive" id='sortDownvotes'>
                <thead>
                    <tr>
                        <th class="sortButton" onclick="sort_by_name()">Name <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_upvotes()">Upvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_downvotes()">Downvotes <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_country()">Country of Origin <i class="fa fa-sort"></i></th>
                        <th class="sortButton" onclick="sort_by_author()">Author <i class="fa fa-sort"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in downvotes %}
                    <tr>
                        <td>{{recipe.name.title()}}</td>
                        <td>{{recipe.upvotes}}</td>
                        <td>{{recipe.downvotes}}</td>
                        <td>{{recipe.country}}</td>
                        <td>{{recipe.author}}</td>
                        <td><a class="btn btn-success" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"> View Recipe</a>
                        </td>
                        <td><a class="btn btn-info" href=""> Edit Recipe</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-12">
                    {% for x in range(pages) %}
                    <a class="btn btn-square btn-info" href="{{url_list[loop.index -1]}}" name="action">{{loop.index}}</a> 
                    {%endfor%}
                </div>

            </div>
        </div>



    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/sort_table.js"></script>

{% endblock %}
